.pill {
  position: absolute;
  bottom: 35%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 40px;
  min-width: 300px;
  background-color: #F0F0F2;
  color: black;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
}

.pill-separator {
  width: 1px;
  margin: 15px 0;
  background-color: black;
}

.pill-date,
.pill-time {
  display: flex;
  flex-direction: column;
}

.pill-date {
  margin: 8px 35px;
}

.pill-time {
  margin: 8px 22px;
}